:root{
  /*头部背景颜色  父级菜单颜色*/
  --headerColor:#202d3d;
  /*子集菜单颜色*/
  --sonMenuColor:#2C3E50;
  /*子集菜单选中颜色*/
  --openSonMenuColor:#21598f;
  /*子菜单选中字体颜色*/
  --openSonFontColor:#fff;
  /*字体颜色*/
  --fontColor:#fff;
  /*整体背景颜色  or  图片*/
  --backgroundStyle:#2C3E50;
  /*view背景颜色*/
  --viewBackgroundStyle:rgba(255, 255, 255, 1);
}
h2{
  margin: 0;
}
li {
  list-style: none
}
.disFlex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.padding{
  padding: 20px;
}

a :hover{
  cursor: pointer;
}

.rotate {
  transform-origin: center center; //旋转中心要是正中间 才行
transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transition: transform 0.3s; //过度时间 可调
-webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
}

.rotate1 {
  transform-origin: center center;
  transform: rotate(0deg); //返回原点
-webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transition: transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
}


::-webkit-scrollbar
{
  width: 10px;
  height: 10px;
  background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #ccc;
}

.ql-container.ql-snow{
  border: 0 !important;
}

.ql-container {
  height: 90% !important;
}
